{% extends 'base.html' %}
{% load static %}
{% block content %}
		<!-- Heading -->
			<div id="heading" >
				<h1>Details of All Students</h1>
			</div>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="row">
						<div class="col-7">
							
						</div>
						<div class="col-2">
								<div id="alignright2">
										<ul class="actions">
												<li><a href="#" class="button primary">Add Class</a></li>
											</ul>
								</div>
						</div>
						<div class="col-3">
								<div id="alignright2">
										<ul class="actions">
												<li><a href="add/?token={{token}}" class="button primary">Add Students</a></li>
											</ul>
								</div>
						</div>
					</div>
					<div class="content" id="studentsdetails">

					<!-- Elements -->
						<div class="row">
							<div id = "app" class="col-12 col-12-medium">

								<!-- Table -->
									<h3>Predictions :- </h3>
									<!--<h4>Default</h4>-->
									<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>ID</th>
													<th>Name</th>
													<th>Prediction</th>
													<th>Link</th>
												</tr>
											</thead>
											<tbody>
											{% for student in students %}
											{% if student.prediction_score == 0 %}
												<tr style="color: red;">
													<td>{{ student.id }}</td>
													<td>{{ student.name }}</td>
													<td>AVERAGE PERMORMER</td>
													<td><a href="{{ student.id }}">Click here to see profile</a></td>
												</tr>
											{% elif student.prediction_score == 1 %}
												<tr style="color: orange;">
													<td>{{ student.id }}</td>
													<td>{{ student.name }}</td>
													<td>GOOD PERMORMER</td>
													<td><a href="{{ student.id }}">Click here to see profile</a></td>
												</tr>
											{% elif student.prediction_score == 2 %}
												<tr style="color: green;">
													<td>{{ student.id }}</td>
													<td>{{ student.name }}</td>
													<td>EXCELLENT PERMORMER</td>
													<td><a href="{{ student.id }}">Click here to see profile</a></td>
												</tr>
											{% endif %}
											{% endfor %}
											
											</tbody>
											<!--<tfoot>
												<tr>
													<td colspan="2"></td>
													<td>100.00</td>
												</tr>
											</tfoot>
										-->
										</table>
									</div>

							</div>
						</div>

					</div>

					
				</div>
			</section>

		<!-- Footer -->
		<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>About Us</h3>
							<p>This portal keeps tracks of all data of student provided by his mentor such as his interactive skills, his problem solving abilities and many others.These models created by each of the algorithms are used to create an output for each of the student.This output predict the academic result of the student.</p>
						</section>
						<section>
							<h4>Contact Us</h4>
							<ul class="plain">
								<li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
								<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
								<li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
								<li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; Sample Corporation</a>.
					</div>
				</div>
				
			</footer>
		{% endblock %}